@media screen and (max-width: 440px){
    .a{
        height: 20vh;
    }
    main{
        flex-direction: column;
    }
    .flex{
        width: 100vw;
        height: 60vh;
    }
    .c, .d, .e{

        /*margin: 1.5%;*/
    }
    .f{
        width: 100vw;
        height: 20vh;
    }
}